<!DOCTYPE html>
<html>

<head>
	<title>This is the title</title>

	{% if request.user.is_authenticated %}

	<p>Hey there, {{request.user.username}}!</p>

	<p>
		<a href="{% url 'homepage' %}">Home</a> | <a href="{% url 'logout' %}">Logout</a> | <a href="{% url 'change_username' %}">Update Username</a> | <a href="{% url 'change_password' %}">Update Password</a>
	</p>

	{% else %}
		<p><a href="{% url 'homepage' %}">Home</a></p>
		<p> New Here? | <a href="{% url 'signup' %}">Signup</a></p>
		<p> Returning User? | <a href="{% url 'login' %}">Login</a></p>

	{% endif %}
</head>

<hr>
<body>
{% block content %}
{% endblock content %}

</body>

<hr>
<footer>
	<p>Team Arson CSE442 | Spring 2022</p>
</footer>


</html>
