@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

.Rectangle1 {
	position: absolute;
	width: 173px;
	height: 173px;
	left: 128px;
	top: 63px;

	background: #2E78E8;
	opacity: 0.25;
}

.Rectangle2 {
	position: absolute;
	width: 129px;
	height: 129px;
	left: 236px;
	top: 171px;

	background: #FDF765;
	opacity: 0.25;
}

.Rectangle3 {
	position: absolute;
	width: 100px;
	height: 100px;
	left: 488px;
	top: 155px;

	background: #FD98CE;
	opacity: 0.25;
}

.Rectangle4 {
	position: absolute;
	width: 52px;
	height: 52px;
	left: 842px;
	top: 86px;

	background: #F0C838;
	opacity: 0.25;
}

.Rectangle5 {
	position: absolute;
	width: 145px;
	height: 145px;
	left: 1044px;
	top: 155px;

	background: #D52BFF;
	opacity: 0.25;
}

.Rectangle6 {
	position: absolute;
	width: 67px;
	height: 67px;
	left: 1248px;
	top: 104px;

	background: #F18C2F;
	opacity: 0.25;
}

.Rectangle7 {
	position: absolute;
	width: 52px;
	height: 52px;
	left: 1214px;
	top: 373px;

	background: #22E7DB;
	opacity: 0.25;
}

.Rectangle8 {
	position: absolute;
	width: 100px;
	height: 100px;
	left: 1282px;
	top: 583px;

	background: #FF2323;
	opacity: 0.25;
}

.Rectangle9 {
	position: absolute;
	width: 154px;
	height: 154px;
	left: 1112px;
	top: 806px;

	background: #86FD3D;
	opacity: 0.25;
}

.Rectangle10 {
	position: absolute;
	width: 100px;
	height: 100px;
	left: 1044px;
	top: 747px;

	background: #6736F1;
	opacity: 0.25;
}

.Rectangle11 {
	position: absolute;
	width: 100px;
	height: 100px;
	left: 708px;
	top: 854px;

	background: #23FFF2;
	opacity: 0.25;
}

.Rectangle12 {
	position: absolute;
	width: 52px;
	height: 52px;
	left: 424px;
	top: 797px;

	background: #EE3DA7;
	opacity: 0.25;
}

.Rectangle13 {
	position: absolute;
	width: 159px;
	height: 159px;
	left: 101px;
	top: 767px;

	background: #42DF5B;
	opacity: 0.25;
}

.Rectangle14 {
	position: absolute;
	width: 100px;
	height: 100px;
	left: 51px;
	top: 717px;

	background: #FF2323;
	opacity: 0.25;
}

.Rectangle15 {
	position: absolute;
	width: 52px;
	height: 52px;
	left: 215px;
	top: 557px;

	background: #22E7DB;
	opacity: 0.25;
}

.Rec2_1 {
	position: absolute;
	width: 59px;
	height: 59px;
	left: 257px;
	top: 10px;

	background: #FF5050;
	opacity: 0.25;
}

.Rec2_2 {
	position: absolute;
	width: 39px;
	height: 39px;
	left: 237px;
	top: 50px;

	background: #20BCFF;
	opacity: 0.25;
}

.Rec2_3 {
	position: absolute;
	width: 48px;
	height: 48px;
	left: 292px;
	top: 121px;

	background: #BEFF06;
	opacity: 0.25;
}

.Rec2_4 {
	position: absolute;
	width: 35px;
	height: 35px;
	left: 1098px;
	top: 24px;

	background: #000AFF;
	opacity: 0.25;
}

.Rec2_5 {
	position: absolute;
	width: 58px;
	height: 58px;
	left: 1153px;
	top: 82px;

	background: #22FF38;
	opacity: 0.25;
}

.Rec2_6 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 1133px;
  top: 120px;
  
  background: #D014FF;
  opacity: 0.25;
}