@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Rectangle1 {
  position: absolute;
  width: 173px;
  height: 173px;
  left: 128px;
  top: 63px;

  background: #2E78E8;
  opacity: 0.25;
}

.Rectangle2 {
  position: absolute;
  width: 129px;
  height: 129px;
  left: 236px;
  top: 171px;

  background: #FDF765;
  opacity: 0.25;
}

.Rectangle3 {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 488px;
  top: 155px;

  background: #FD98CE;
  opacity: 0.25;
}

.Rectangle4 {
  position: absolute;
  width: 52px;
  height: 52px;
  left: 842px;
  top: 86px;

  background: #F0C838;
  opacity: 0.25;
}

.Rectangle5 {
  position: absolute;
  width: 145px;
  height: 145px;
  left: 1044px;
  top: 155px;

  background: #D52BFF;
  opacity: 0.25;
}

.Rectangle6 {
  position: absolute;
  width: 67px;
  height: 67px;
  left: 1248px;
  top: 104px;

  background: #F18C2F;
  opacity: 0.25;
}

.Rectangle7 {
  position: absolute;
  width: 52px;
  height: 52px;
  left: 1214px;
  top: 373px;

  background: #22E7DB;
  opacity: 0.25;
}

.Rectangle8 {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 1282px;
  top: 583px;

  background: #FF2323;
  opacity: 0.25;
}

.Rectangle9 {
  position: absolute;
  width: 154px;
  height: 154px;
  left: 1112px;
  top: 806px;

  background: #86FD3D;
  opacity: 0.25;
}

.Rectangle10 {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 1044px;
  top: 747px;

  background: #6736F1;
  opacity: 0.25;
}

.Rectangle11 {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 708px;
  top: 854px;

  background: #23FFF2;
  opacity: 0.25;
}

.Rectangle12 {
  position: absolute;
  width: 52px;
  height: 52px;
  left: 424px;
  top: 797px;

  background: #EE3DA7;
  opacity: 0.25;
}

.Rectangle13 {
  position: absolute;
  width: 159px;
  height: 159px;
  left: 101px;
  top: 767px;

  background: #42DF5B;
  opacity: 0.25;
}

.Rectangle14 {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 51px;
  top: 717px;

  background: #FF2323;
  opacity: 0.25;
}

.Rectangle15 {
  position: absolute;
  width: 52px;
  height: 52px;
  left: 215px;
  top: 557px;

  background: #22E7DB;
  opacity: 0.25;
}