@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

.header {
  position: absolute;
  width: 1378.58px;
  height: 179px;
  left: 0px;
  top: 0px;
}

.titleBG {
  position: absolute;
  width: 767.5px;
  height: 96.5px;
  left: 336px;
  top: 41px;

  background: #65523D;
  border: 1px solid #65523D;
}

.title {
  width: 346px;
  height: 63px;
  left: 211px;
  top: 17px;

  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 63px;

  color: #FFFFFF;
}

.logo {
  position: absolute;
  width: 179px;
  height: 179px;
  left: 0px;
  top: 0px;

}

.home {
  display: flex;
  position: relative;
  width: 1440px;
  height: 1024px;

  background: #FAF1E1;
}

.line1 {
  position: absolute;
  width: 1319px;
  height: 0px;
  left: 60px;
  top: 204px;

  border: 20px solid #65523D;
  stroke-linecap: round;
}

.BannerText {
  position: absolute;
  width: 346px;
  height: 63px;
  left: 547px;
  top: 58px;

  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 63px;
  color: #FFFFFF;
}

.Border {
  position: absolute;
  width: 1319px;
  height: 0px;
  left: 60px;
  top: 204px;

  background: #65523D;
  border: 7px solid #65523D;
}

.Border2 {
  position: absolute;
  width: 1319px;
  height: 0px;
  left: 60px;
  top: 662px;

  background: #65523D;
  border: 7px solid #65523D;
}

.submission {
  position: absolute;
  display: flex;
  width: 897px;
  height: 304px;
  left: 271px;
  top: 281px;
}

.background {
  position:inherit;
  width: 897px;
  height: 267px;
  bottom: 0px;

  background: #FFFFFF;
  border: 12px solid #A38A6E;
  box-sizing: border-box;
}

.tabs {
  width: 456px;
  height: 40px;
  display: inherit;
  flex-direction: row;
  align-items: flex-start;
}

.uploadboxselected {
  position: absolute;
  width: 150px;
  height: 40px;
  left: 11px;
  cursor: pointer;
  
  background: #A38A6E;
}

.uploadbox {
  position: absolute;
  width: 150px;
  height: 40px;
  left: 11px;
  cursor: pointer;
  
  background: #65523D;
}

.uploadtext {
  width: 87px;
  height: 32px;
  display: inherit;
  margin: auto;
  text-align: center;

  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;

  color: #FFFFFF;
}

.keywordboxselected {
  position: absolute;
  width: 150px;
  height: 40px;
  left: 166px;
  cursor: pointer;

  background: #A38A6E;
}

.keywordbox {
  position: absolute;
  width: 150px;
  height: 40px;
  left: 166px;
  cursor: pointer;

  background: #65523D;
}

.keywordtext {
  width: 101px;
  height: 32px;
  display: inherit;
  margin: auto;
  text-align: center;

  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;

  color: #FFFFFF;
}

.randomboxselected {
  position: absolute;
  width: 150px;
  height: 40px;
  left: 321px;
  cursor: pointer;

  background: #A38A6E;
}

.randombox {
  position: absolute;
  width: 150px;
  height: 40px;
  left: 321px;
  cursor: pointer;

  background: #65523D;
}

.randomboxtext {
  width: 87px;
  height: 32px;
  display: inherit;
  margin: auto;
  text-align: center;

  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;

  color: #FFFFFF;
}

.recentimages {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 1259px;
  height: 100%;
  left: 83px;
  top: 719px;
}

.recentimagestab {
  width: 333px;
  height: 63px;
  display: inherit;
  align-items: flex-start;
}

.recentimagesBG {
  position: relative;
  width: 1244px;
  height: 100%;
  display: flex;

  background: #FFFFFF;
  border: 15px solid #A38A6E;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.recentimagesbox {
  position: absolute;
  width: 333px;
  height: 63px;

  background: #65523D;
}

.recentimagestext {
  width: 282px;
  height: 47px;
  display: inherit;
  margin: auto;
  text-align: center;

  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;

  color: #FFFFFF;
}

.uploadfield {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 392px;
  height: 115px;
  left: 253px;
  top: 58px;
}

.uploadinput {
  width: 279px;
  height: 28px;
  position: relative;

  font-family: 'Roboto Mono';
  font-style: normal;
  font-size: 12px;
  background: #D9CFB7;
  border: 3px solid #D9CFB7;
}

.description {
  width: 274px;
  height: 16px;
  position: relative;

  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;

  color: #65523D;
  padding-bottom: 25px;
}

.public {
  width: 13px;
  height: 13px;

  background: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
}

.publictext {
  width: 44px;
  height: 16px;

  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;

  color: #65523D;
}

.private {
  width: 13px;
  height: 13px;
  
  background: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
}

.privatetext {
  width: 51px;
  height: 16px;

  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;

  color: #65523D;
}

.selections {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.submit {
  position: absolute;
  width: 173.51px;
  height: 52.5px;
  margin-top: 26px;
  cursor: pointer;

  background: #D9CFB7;
  border: 5px solid #65523D;
}

.submittext {
  width: 87px;
  height: 32px;

  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;

  color: #65523D;
}

.randomfield {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 332px;
  height: 115px;
  left: 283px;
  top: 48px;
}

.randominput {
  position: relative;
  width: 332px;
  height: 64px;
  padding-bottom: 10px;
}

.randomtext {
  position: relative;
  width: 332px;
  height: 64px;

  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;

  color: #65523D;
}

.keywordfield {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 279px;
  height: 78px;
  left: 309px;
  top: 40px;
  padding-bottom: 37px;
}

.keywordbigtext {
  width: 274px;
  height: 32px;

  
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;

  color: #65523D;
}

.keywordinput {
  width: 279px;
  height: 28px;
  position: relative;

  font-family: 'Roboto Mono';
  font-style: normal;
  font-size: 20px;
  background: #D9CFB7;
  border: 3px solid #D9CFB7;
}

.image {
  margin: 20px;
  border: 5px solid #65523D;
  box-sizing: border-box;
  height: 267px;
}

.images {
  height: 258px;
  width: 270px;
  display: inline-block;
  object-fit: cover;
}