.Rectangle1 {
    position: relative;
    width: 152px;
    height: 45px;
  
    background: #D9CFB7;
    border: 3px solid #65523D;
    border-bottom-width: 0px;
    box-sizing: border-box;
  }
  
  .Home {
    position: flex;
    width: 58px;
    height: 32px;
  
    font-family: 'Roboto Mono';
    font-style: bold;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    color: #65523D;
  }
  
  .Rectangle2 {
    position: relative;
    width: 152px;
    height: 45px;
  
    background: #D9CFB7;
    border: 3px solid #65523D;
    border-bottom-width: 0px;
    box-sizing: border-box;
  }
  
  .Profile {
    position: flex;
    width: 101px;
    height: 32px;
  
    font-family: 'Roboto Mono';
    font-style: bold;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    color: #65523D;
  }
  
  .Rectangle3 {
    position: relative;
    width: 152px;
    height: 45px;
  
    background: #D9CFB7;
    border: 3px solid #65523D;
    border-bottom-width: 0px;
    box-sizing: border-box;
  }
  
  .Settings {
    position: flex;
    width: 116px;
    height: 32px;
  
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    color: #65523D;
  }
  
  .Rectangle4 {
    position: relative;
    width: 152px;
    height: 45px;

  
    background: #D9CFB7;
    border: 3px solid #65523D;
    box-sizing: border-box;
  }
  
  .Logout {
    position: flex;
    width: 101px;
    height: 32px;
  
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    color: #65523D;
  }

a {
  text-decoration: none;
}
