.Logo2 {
    position: absolute;
    width: 179px;
    height: 179px;
    left: 0px;
    top: 0px;
}

.Banner {
    position: absolute;
    width: 767.5px;
    height: 96.5px;
    left: 336px;
    top: 41px;
    
    background: #65523D;
    border: 1px solid #65523D;
}

.BannerText {
    position: absolute;
    width: 346px;
    height: 63px;
    left: 547px;
    top: 58px;

    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 63px;
    color: #FFFFFF;
}

.Border {
    position: absolute;
    width: 1319px;
    height: 0px;
    left: 60px;
    top: 204px;
  
    background: #65523D;
    border: 7px solid #65523D;
}

/***********************************************************************************************/

.profileBar {
    position: absolute;
    width: 329px;
    height: 784px;
    left: 33px;
    top: 240px;

    background: #65523D;
}

.profileText {
    position: absolute;
    width: 195px;
    height: 94px;
    left: 59px;
    top: 257px;

    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    color: #FFFFFF;
}

/***********************************************************************************************/

.filterLabel {
    position: absolute;
    width: 152px;
    height: 47px;
    left: 746px;
    top: 253px;

    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    color: #000000;
}

.filterMenu {
    position: absolute;
    width: 183px;
    height: 47px;
    left: 906px;
    top: 253px;

    background: #65523D;
}

.filterChoice {
    position: absolute;
    width: 160px;
    height: 47px;
    left: 920px;
    top: 253px;

    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    color: #FFFFFF;
}

.sortLabel {
    position: absolute;
    width: 109px;
    height: 47px;
    left: 1100px;
    top: 253px;

    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    color: #000000;
}

.sortMenu {
    position: absolute;
    width: 183px;
    height: 47px;
    left: 1218px;
    top: 253px;

    background: #65523D;
}

.sortChoice {
    position: absolute;
    width: 160px;
    height: 47px;
    left: 1230px;
    top: 253px;

    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    color: #FFFFFF;
}


/* 15px solid #a38a6e */
/***********************************************************************************************/

.savedImages {
    position: absolute;
    width: 312.94px;
    height: 68px;
    left: 410px;
    top: 240px;

    background: #65523D;
}

.savedText {
    position: absolute;
    width: 265.01px;
    height: 50.73px;
    left: 433px;
    top: 249px;

    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;

    color: #FFFFFF;
}

.imageBox {
    position: absolute;
    width: 1000px;
    min-height: 716px;
    left: 410px;
    top: 308px;

    background: #FFFFFF;
    border: 15px solid #A38A6E;
    box-sizing: border-box;

    z-index: -1;
}

.image {

}

/* hover Over Stuff */

/* 65523D */
/* why is the css hard coded? */
.filterChoices {
    position: absolute;
    width: 87px;
    height: 47px;
    left: 920px;
    top: 253px;

    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    color: #FFFFFF;
}

img { 
    height: 300px;
    width: 300px;
    display: inline-block;
}

.choice li {
    position:relative;
}

.load {
    position: absolute;
    width: 300px;
    height: 150px;
    left: 33px;
    top:545px;
    background: #a38a6e;

    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    color: #FFFFFF;
}

.dropDown {
    display: none;
}

.dropDown > button {
    font-family: Roboto Mono;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
    
    color: #FFFFFF;
    background: #65523d;
    width: 183px;
}


.filterChoice:hover .dropDown {display: block;}
.sortChoice:hover .dropDown {display:block;}


/* Dropdown CSS Stuff May change to javascript */